section {
    display: flex;
}
.blogsAll {
    flex: 3;
}

/*Specifically for the menu linking all the blogs.*/
.blogMenuDiv {
    flex: 1;
}

.blogmenu {
    background-color: #625437bc;
    padding: 2%;
}
