.aside {
    background-color: #625437bc;
    padding: 2%;
    flex: 1;
}

ul {
    list-style-type: none;
    padding: 5px;
    margin: 0px;
    width: 100%;
}

h1{
    display: inline-flexbox
}

.suunn {
    display: inline-block;
    width: 30%;
}