/*Header*/

nav {
  a:link,
  a:visited {
    background-color: #6e351d;
    color: #7da6e9;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
  }

  a:hover,
  a:active {
    background-color: green;
    color: rgb(34, 0, 255);
  }
}

/*Body*/
body {
  margin: 10px;
  text-align: center;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  overflow: scroll;
  color: #b5b6de;
  background: #93583e;
}

section {
  margin: auto;
  padding: 40px;
}

article {
  padding-left: 10px;
  width: auto;
  text-align: center;
  background-color: rgba(110, 70, 32, 0.527);
  margin: 10px;
  padding: 10px;
}

p {
  padding-left: 10px;
}

h1,
h2,
dl {
  text-align: center;
}

table {
  display: inline-block;
  text-align: center;
  height: auto;
  width: 80%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  width: 100%;
}

tr:hover {
  background-color: rgb(13, 13, 129);
}
